name: Build and Deploy to gh-pages

jobs:
  build_and_deploy:
    runs-on: ubuntu-18.04
    container: docker://ruby:2.7.4

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Bundle Install
        run: bundle install

      - name: Build
        run: | # TODO: Make baseurl configureable
          mkdir .jekyll-cache build
          bundle exec jekyll build --baseurl="medablog/" -d build

      - name: Deploy
        run: | # TODO: Make target branch configureable
          cd build
          git init
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add .
          git commit -m "jekyll build from Action $GITHUB_SHA"
          git push -f https://${{ secrets.GH_TOKEN }}@github.com/$GITHUB_REPOSITORY.git master:gh-pages

on:
  push:
    branches:
      - master  # TODO: Configure source branch